<h2>Confirmation</h2>

<h3>Your order had just been placed!</h3>

<h4>Personal Info</h4>

<ul>
  <li><b>Name:</b> {{model.name}}</li>
  <li><b>Email:</b> {{model.email}}</li>
</ul>

<h4>Shipping Info</h4>

<ul>
  <li><b>Address:</b> {{model.address}}</li>
  <li><b>ZIP Code:</b> {{model.zipCode}}</li>
</ul>

<h4>Payment Info</h4>

<ul>
  <li><b>Card number:</b> {{model.cardNumber}}</li>
  <li><b>CVC:</b> {{model.cardVerification}}</li>
  <li><b>Expiration date:</b> {{model.cardExpiration}}</li>
</ul>

